<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Tech Blog</title>
</head>

<body>
    <header>
        <h1><a href="/">Tech Blog!</a></h1>
        {{#if loggedIn}}
        <ul>
            <li>
                Welcome, {{username}}!
            </li>
            <li>
                <a href="/settings" class="link">Settings</a>
            </li>
        </ul>
        {{else}}
        <ul>
            <li>
                Welcome, Guest!
            </li>
            <li>
                <a href="/login">Log in</a>
            </li>
        </ul>
        {{/if}}

    </header>
    <main>
        {{{body}}}
    </main>
    <hr>
    <footer>
        <h2>Thanks for visiting My Tech Blog!</h2>
        <br>
        <p>For more like this, visit my GitHub: <a href="https://github.com/Hayden-code">Hayden-code</a></p>
    </footer>
</body>

</html>