<div class="postList">
    <h1>Create Post</h1>
    <div class="post">
        <h2>Title</h2>
        <textarea id="postTitle" placeholder="Insert title here"></textarea>
        <br><br>
        <h2>Description:</h2>
        <textarea rows="5" cols="60" name="content" id="postDescription" placeholder="Text content"></textarea>
        <button class="submitBtn" onclick="createPost()">Create Post</button>
    </div>
</div>