
<div>
    <form id="loginForm">
        <h2>Login</h2>
        <div>
            <label for="loginEmail">Email:</label>
            <input type="text" id="loginEmail" placeholder="abcd@abcd.abc">
        </div>
        <div>
            <label for="loginPassword">Password:</label>
            <input type="text" id="loginPassword" placeholder="abcdabcd">
        </div>
        <button type="submit" id="loginSubmit">Submit</button>
    </form>

    <form id="signUpForm">
        <h2>Sign Up</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="signUpUsername" placeholder="abcd">
        </div>
        <div>
            <label for="signUpEmail">Email:</label> <br>
            <input type="text" id="signUpEmail" placeholder="abcd@abcd.abc">
        </div>
        <div>
            <label for="signUpPassword">Password:</label>
            <small>Must be at least 8 characters.</small> <br>
            <input type="text" id="signUpPassword" placeholder="abcdabcd">
        </div>
        <button type="submit" id="signUpSubmit">Submit</button>
    </form>
</div>

<script src="/public/js/login.js"></script>
