* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}
:root {
  --radius: 5px;
  --box-shadow: 1px 1px 1px grey;
  --border: thin solid black;
  --borderWhite: thin solid white;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 15px;
}
p {
  font-size: 20px;
}

header {
  display: flex;
  padding: 20px 0px 10px 0px;
  align-items: center;
  background-color: black;
  color: white;
  height: fit-content;
}
main {
  overflow-y: scroll;
}
footer {
  margin-top: 10px;
  text-align: center;
}

form {
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  padding: 30px 50px;
  margin: 50px;
  width: fit-content;
}

ul {
  list-style: none;
  justify-self: end;
}

li {
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: var(--borderWhite);
  border-radius: var(--radius);
  transition: 0.1s;
}
header a :hover {
  background-color: rgb(97, 97, 97);
}

label {
  font-size: 20px;
}
input {
  width: 100%;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  padding: 4px;
  border: var(--border);
  border-radius: var(--radius);
}

#techBlog {
  margin-left: 20px;
}

#loginHeader {
  text-align: center;
  margin-top: 10px;
}

#loginForms {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.submitBtn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  font: inherit;
  font-size: 1rem;
  border-radius: var(--radius);
  width: 170px;
  cursor: pointer;
}

#logoutDiv {
  text-align: center;
  padding: 50px;
}

#postList {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 20px;
  width: 50%;
  border: var(--border);
  border-radius: var(--radius);
  margin: 10px;
}

.comment {
  margin: 5px 0px 5px 10px;
}

#commentInput {
  height: fit-content;
  overflow-x: scroll;
  overflow-y: visible;
}
