* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
}

#headerUl {
  display: flex;
  justify-self: right;
}
